<%- include ('header') %>

        <div style='text-align: center;'>
            <div class='container'>
                <h1>This is not a scam!</h1>
                <form action='/validate' method='POST'>
                    <input type='text' name='Vastus' id="isik">
                    <input type='submit' value='Submit'>
                </form>
            </div>    
        </div>

<%- include ('footer') %>