<div style="text-align: center;">
    <div>
        <h1>This is not a scam!</h1>
        <form action="/validate" method="POST">
            <input type="text" name="Vastus">
            <input type="submit" value="Submit">
        </form>
    </div>    
</div>
